.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  margin-bottom: 20px;
  border: solid 1px #cbced2;
}

.card-2 {
  display: flex;

  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  margin-bottom: 20px;
  border: solid 1px #cbced2;
}

.card-3 {
  display: flex;

  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  margin-bottom: 20px;
  border: solid 1px #cbced2;
}
